# Site settings
title: Greg Boone
email: boone.greg@gmail.com	
description: "Learning out loud in Washington, DC"
baseurl: ""
url: "http://gboone.github.io"
timezone: "America/New_York"

# Build settings
markdown: kramdown
permalink: pretty
