<div class="row resume-edu-header">
  <header class="col-md-12">
    <h2 class="usa-header">Education</h2>
  </header>
</div>{% assign schools = site.data.resume.education %}{% for school in schools %}{% assign modulo = forloop.index | modulo:2 %}
{% if modulo == 1 %}<div class="row resume-education">{% endif %}
  <div class="col-md-12 resume-school">
    <h3 class="usa-header"><a href="{{school.website}}">{{ school.institution }}</a>, {{ school.studyType }}</h3>
    <p><em>{% for area in school.area %}{{ area }}{% unless forloop.last%}, {% endunless %}{% endfor %}</em><br>
    <em>{{ school.startDate | date: "%b %Y" }} – {{ school.endDate | date:"%b %Y"}}</em></p>
  </div>{% if modulo == 0 %}</div>{% endif %}{% endfor %}
