<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="col-md-4">
      <h1><a href="{{site.baseurl }}/">Greg Boone</a></h1>
      <aside>{{site.description}}</aside>
    </div>
    <div class="col-md-2">
      <h2><a href="{{site.baseurl}}/about/">About</a></h2>
    </div>
    <div class="col-md-2">
      <h2><a href="{{site.baseurl}}/blog/">Blog</a></h2>
    </div>
    <div class="col-md-2">
      <h2><a href="https://danielle.harmsboone.org">Danielle</a></h2>
    </div>
    <div class="col-md-2">
      <h2><a href="https://harmsboone.org">Family</a></h2>
    </div>
  </div>
</nav>
