{% assign skills = site.data.resume.skills %}
<div class="row">
  <h2 class="usa-header">Skills</h2>
    {% for skill in skills %}
    {% if skills.size == 4 %}<div class="col-md-12">{% elsif skills.size == 3 %}
      <div class="col-md-12">{% elsif skills.size == 2 %}
      <div class="col-md-12">{% else%}
      <div class="col-md-12">{% endif %}
      <h3>{{ skill.name }}{% if skill.level %}, {{ skill.level }}{% endif %}</h3>
      <p>{% for keyword in skill.keywords %}{{ keyword }}{% unless forloop.last %},{% endunless %}
      {% endfor %}</p>
  </div>
  {% endfor %}
</div>
