{% if page.permalink contains "cv" %}{% assign work = site.data.resume.work %}{% else %}
{% assign work = site.data.resume.work | where:"cv-only", "false" %}{% endif %}
<div class="resume-work-header row">
  <header class="col-md-12">
    <h2 class="usa-header">Work</h2>
  </header>
</div>{% for job in work %}{% assign modulo = forloop.index | modulo: 2 %}
{% if modulo == 1 %}<div class="row resume-work">{% endif %}
<div class="resume-job col-md-12">
  <h3 class="usa-header">{% if job.website %}<a href="{{job.website}}">{% endif %}{{ job.company | markdownify }}{% if job.website %}</a>{% endif %}</h3>
  <em>{{ job.position }}</em> in {{ job.location }}<br><em>{{ job.startDate | date: "%b %Y"}} – {{ job.endDate | date: "%b %Y" }}</em>
  <p>{{ job.summary }}</p>
  <ul>{% for highlight in job.highlights %}
    <li>{{ highlight }}</li>{% endfor %}
  </ul>
</div>{% if modulo == 0 or forloop.last %}</div>{% endif %}{% endfor %}
