@import main.css;

@media print {
  @page {
    size: letter;
    margin: 0.5in;
  }
  h1 {
    font-size: 28pt;
  }
  h2 {
    font-size: 24pt;
    border-bottom: solid 1px black;
  }
  h3,
  h4,
  h5,
  h6 {
    font-size: 12pt;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    font-family: sans-serif;
  }
  .container {
    margin: 0;
    line-height: 1.5;
  }
  .container > header {
    margin-bottom: 0.125in;
  }
  .container > header > h1 {
    width: 50%;
    float: left
  }
  .row {
    padding: 0;
  }
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    padding: 0;
  }
  p,
  ul,
  ul > li,
  span {
    font-size: 11pt;
    margin: 0
  }
  .resume-work-header,
  .resume-education-header,
  .resume-writing {
  }
  .resume-school,
  .resume-job,
  .resume-skill {
    margin-bottom: 0.25in;
    page-break-inside: avoid;
  }
  .site-footer {
    display: none;
  }
}
