/*
Syntax error: Undefined variable: "$greyshade".
        on line 14 of /Users/gboone/Dropbox/code/greg.harmsboone.org/octopress/sass/_greyshade.scss
        from line 8 of /Users/gboone/Dropbox/code/greg.harmsboone.org/octopress/sass/screen.scss

Backtrace:
/Users/gboone/Dropbox/code/greg.harmsboone.org/octopress/sass/_greyshade.scss:14
/Users/gboone/Dropbox/code/greg.harmsboone.org/octopress/sass/screen.scss:8
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/script/variable.rb:49:in `_perform'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/script/node.rb:40:in `perform'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/tree/root_node.rb:20:in `render'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/bin/compass:23:in `load'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/bin/compass:23:in `<main>'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/bin/ruby_noexec_wrapper:14:in `eval'
/Users/gboone/.rvm/gems/ruby-1.9.3-p448/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$greyshade\".\A         on line 14 of /Users/gboone/Dropbox/code/greg.harmsboone.org/octopress/sass/_greyshade.scss\A         from line 8 of /Users/gboone/Dropbox/code/greg.harmsboone.org/octopress/sass/screen.scss"; }
