---
layout: default
---
<article class="post">
  <header class="row">
    <h1 class="col-md-8">{{ page.title }}</h1>
    <div class="meta col-md-4">
      <p>Written on <date>{{ page.date | date: "%b %-d, %Y" }}</date></p>
      <p>by {% if page.author %}{{page.author}}{% else %}Greg{% endif %}</p>
      <p>Tagged: {% for tag in page.tags %}{{tag}} {% unless forloop.last %}• {% endunless %}{% endfor %}</p>
    </div>
    <hr>
  </header>
  <article class="post-content row">
    <div class="col-md-12">{{ content }}</div>
  </article>
</article>
