---
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
    <body>
      <div class="post usa-grid">

        <header class="post-header usa-width-one-whole">
          <h1 class="usa-header">{{ site.data.resume.basics.name }}</h1>
          <div class="resume-preamble usa-grid">
            <span class="usa-width-one-fourth">{{ site.data.resume.basics.location.city }}, {{ site.data.resume.basics.location.state }}</span>
            <span class="usa-width-one-fourth"><a href="{{ site.data.resume.basics.website }}">Blog</a></span>
            <span class="usa-width-one-fourth">{{ site.data.resume.basics.email}}</span>
            <span class="usa-width-one-fourth">{{ site.data.resume.basics.summary }}</span>
          </div>
        </header>

        <article class="post-content usa-width-one-whole">
        {{ content }}
        </article>

      </div>
      {% include footer.html %}
    </body>
</html>
