---
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
    <body>
      <div class="post usa-grid">

        <header class="post-header usa-width-one-whole">
          <h1 class="usa-header">{{ site.data.resume.basics.name }}</h1>
          <p>{{  site.data.resume.basics.summary }} • {{ site.data.resume.basics.location.city }}, {{ site.data.resume.basics.location.state }}</p>
        </header>

        <article class="post-content usa-width-one-whole">
        {{ content }}
        </article>

      </div>
      {% include footer.html %}
    </body>
</html>
